* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


h1 {
  font-family: 'Roboto';
  color: black;
}

body {
  color: white;
}

.spin_logo {
  display: flex;
  justify-content: center;
  margin-top: -850px;
  margin-left: -50px;
  width: 500px;
  height: 500px;
}

.first_page_bg {
  background-color: #C1E1C1;
  width: 100%;
  height: 1000px;
}



.mobiletitle {
  display: none;
  margin-top: -10px;
  margin-left: 30px;
  font-size: 25px;
}

.title {
  display: none;
}

.logo {
  position: fixed;
  left: 5%;
  top: 3%;
}

.sidebar {
  display: none;
}

.nav {
  position: fixed;
  top: 0%;
  right: 5%;
  height: 50px;
  width: 100%;
  background-color: transparent;
}

.nav>.nav-header>.nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}


.nav>.nav-links {
  text-align: left;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/arimo/v24/P5sMzZCDf9_T_10UxCFuj5-v6dg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  display: inline;
  float: right;
  font-size: 16px;
  margin-top: 2rem;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #515151;
  /* work/p5js/about color */
}

.nav>.nav-links>a:hover {
  text-decoration: underline;
}

.motion1 {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
  margin-top: 1000px;
  text-align: left;
}

.motion2 {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  margin-top: 200px;
}

.motion3 {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
  margin-top: 150px;
}

.motion4 {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  margin-top: 200px;
}

.motion5 {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
  margin-top: 150px;
}

.motion6 {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  margin-top: 200px;
}

.motion7 {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
  margin-top: 150px;
}

.motion8 {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  margin-top: 200px;
}

.three1 {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
  margin-top: 200px;
  text-align: left;
}

.three2 {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  margin-top: 200px;
}

.three3 {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
  margin-top: 150px;
}

.three4 {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  margin-top: 200px;
}

.three5 {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
  margin-top: 150px;
}

.digifab1 {
  /* change display:none to display:flex when adding in work */
  display: none;
  justify-content: flex-start;
  margin-left: 15px;
  margin-top: 200px;
  text-align: left;
}


.uxdesign1 {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
  margin-top: 200px;
  text-align: left;
}

.uxdesign2 {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  margin-top: 200px;
}

.interactive1 {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
  margin-top: 200px;
  text-align: left;
}

.interactive2 {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  margin-top: 200px;
}

.research1 {
  /* change display:none to display:flex when adding in work */
  display: none;
  justify-content: flex-start;
  margin-left: 15px;
  margin-top: 200px;
  text-align: left;
}

.other1 {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
  margin-top: 200px;
  text-align: left;
}

.other2 {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  margin-top: 200px;
}

.images {
  width: 75vw;
  height: auto;
}

.footer {
  background-color: white;
  display: block;
  position: fixed;
  width: 100%;
  height: 40px;
  text-align: center;
  bottom: 0;
}

.placeholder {
  display: flex;
  justify-content: space-around;
  font-family: 'Roboto';
  color: black;
}

.container_about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 85px;
  padding: 50px;
}

.container_about>div {
  flex: 50%;
}

img.me {
  width: 400px;
  height: 400px;
}

.intro {
  padding-top: 75px;
  text-align: left;
  font-family: 'Roboto';
  font-size: 30px;
  color: black;
}

.container_footer {
  position: fixed;
  left: 5px;
  bottom: 0px;
}

.images_footer {
  width: 50px;
  padding: 20px;
}

.container_resume {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.images_resume {
  width: 1000px;
}

@media screen and (min-width: 600px) {
  /* * {
    cursor: none;
  } */

  .first_page_bg {
    background-color: #C1E1C1;
    width: 100%;
    height: 900px;
  }

  .spin_logo {
    display: flex;
    justify-content: center;
    margin-top: -950px;
    margin-left: 100px;
    width: 85vw;
    height: auto;
  }

  .title {
    display: block;
    position: fixed;
    font-size: 35px;
    padding: 25px;
    color: black;
  }

  body {
    background-color: white;
  }

  .sidebar {
    position: fixed;
    top: 10%;
    left: 0;
    display: flex;
    justify-content: left;
    padding-top: 100px;
    padding-left: 25px;
    font-family: 'Roboto';
    font-size: 20px;
    color: #000010;
  }

  .mobilenavbar {
    display: none;
  }

  /* .cursor-dot {
    width: 20px;
    height: 20px;
    background-color: #619361;
    position: absolute;
    border-radius: 50%;
  } */

  .title {
    position: fixed;
    top: 0;
    color: #000010;

  }

  .logo {
    display: none;
  }

  .mobiletitle {
    display: none;
  }

  .footer {
    display: none;
  }


  .nav {
    height: 50px;
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 2;
  }

  .nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }


  .nav>.nav-links {
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v24/P5sMzZCDf9_T_10UxCFuj5-v6dg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    display: inline;
    float: right;
    font-size: 16px;
    margin-top: 2rem;
  }

  .nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #000010;
    /* work/p5js/about color */
  }

  .nav>.nav-links>a:hover {
    text-decoration: underline;
  }

  .item {
    transition: transform .4s;
    transition-timing-function: all 1s ease-in;
  }

  .item:hover {
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    /* Safari 3-8 */
    transform: scale(1.05);
  }



  .motion1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 200px;
    margin-top: 300px;
    text-align: left;
  }

  .motion2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 200px;
  }

  .motion3 {
    display: flex;
    justify-content: flex-start;
    margin-left: 200px;
    margin-top: 150px;
  }

  .motion4 {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 200px;
  }

  .motion5 {
    display: flex;
    justify-content: flex-start;
    margin-left: 200px;
    margin-top: 150px;
  }

  .motion6 {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 200px;
  }

  .motion7 {
    display: flex;
    justify-content: flex-start;
    margin-left: 200px;
    margin-top: 150px;
  }

  .motion8 {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 200px;
  }

  .three1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 200px;
    margin-top: 200px;
    text-align: left;
  }

  .three2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 200px;
  }

  .three3 {
    display: flex;
    justify-content: flex-start;
    margin-left: 200px;
    margin-top: 150px;
  }

  .three4 {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 200px;
  }

  .three5 {
    display: flex;
    justify-content: flex-start;
    margin-left: 200px;
    margin-top: 150px;
  }

  .digifab1 {
    /* change display:none to display:flex when adding in work */
    display: none;
    justify-content: flex-start;
    margin-left: 200px;
    margin-top: 200px;
    text-align: left;
  }


  .uxdesign1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 200px;
    margin-top: 200px;
    text-align: left;
  }

  .uxdesign2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 200px;
  }

  .interactive1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 200px;
    margin-top: 200px;
    text-align: left;
  }

  .interactive2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 200px;
  }

  .research1 {
    /* change display:none to display:flex when adding in work */
    display: none;
    justify-content: flex-start;
    margin-left: 200px;
    margin-top: 200px;
    text-align: left;
  }

  .other1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 200px;
    margin-top: 200px;
    text-align: left;
  }

  .other2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 200px;
  }

  .images {
    width: 30vw;
    height: auto;
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    margin-top: -100px;
  }

  .videoWrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1000;
    left: 0;
  }

  .title1 {
    display: flex;
    justify-content: center;
    margin-left: 80px;
    margin-top: 100px;
    font-family: 'Roboto';
    font-size: 50px;
    color: black;
  }

  .container_about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 75px;
    padding-top: 100px;
    padding: 50px;
  }

  .container_about>div {
    flex: 50%;
  }

  .container_footer {
    position: fixed;
    left: 5px;
    bottom: 0px;
  }

  .images_footer {
    width: 50px;
    padding: 20px;
  }

  .container_resume {
    display: flex;
    justify-content: center;
    margin-top: 300px;
  }

  .images_resume {
    width: 1000px;
  }

  img.me {
    width: 300px;
    height: 300px;
  }

  .intro {
    text-align: left;
    font-family: 'Roboto';
    font-size: 30px;
    color: black;
  }
}



@media screen and (min-width: 1250px) {
  /* * {
    cursor: none;
  } */

  .first_page_bg {
    background-color: #C1E1C1;
    width: 100%;
    height: 850px;
  }

  .spin_logo {
    display: flex;
    justify-content: center;
    margin-top: -900px;
    margin-left: 275px;
    width: 850px;
    height: 850px;
  }




  body {
    background-color: white;
  }

  .sidebar {
    position: fixed;
    top: 10%;
    left: 0;
    display: flex;
    justify-content: left;
    padding-top: 100px;
    padding-left: 25px;
    font-family: 'Roboto';
    font-size: 20px;
    color: #000010;
  }

  .sidebar>.item:hover {
    text-decoration: underline;
  }

  .mobilenavbar {
    display: none;
  }

  /* .cursor-dot {
    width: 20px;
    height: 20px;
    background-color: #619361;
    position: absolute;
    border-radius: 50%;
  } */

  .title {
    display: block;
    position: fixed;
    font-size: 35px;
    padding: 25px;
    color: black;
  }

  .logo {
    display: none;
  }

  .mobiletitle {
    display: none;
  }

  .footer {
    display: none;
  }


  .nav {
    height: 50px;
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 1%;
  }

  .nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }


  .nav>.nav-links {
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v24/P5sMzZCDf9_T_10UxCFuj5-v6dg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    display: inline;
    float: right;
    font-size: 16px;
    margin-top: 2rem;
  }

  .nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #000010;
    /* work/p5js/about color */
  }

  .nav>.nav-links>a:hover {
    text-decoration: underline;
  }

  .item {
    transition: transform .4s;
    transition-timing-function: all 1s ease-in;
  }

  .item:hover {
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    /* Safari 3-8 */
    transform: scale(1.05);
  }



  .motion1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 350px;
    margin-top: 200px;
    text-align: left;
  }

  .motion2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 200px;
  }

  .motion3 {
    display: flex;
    justify-content: flex-start;
    margin-left: 350px;
    margin-top: 150px;
  }

  .motion4 {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 200px;
  }

  .motion5 {
    display: flex;
    justify-content: flex-start;
    margin-left: 350px;
    margin-top: 150px;
  }

  .motion6 {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 200px;
  }

  .motion7 {
    display: flex;
    justify-content: flex-start;
    margin-left: 350px;
    margin-top: 150px;
  }

  .motion8 {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 200px;
  }

  .three1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 350px;
    margin-top: 200px;
    text-align: left;
  }

  .three2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 200px;
  }

  .three3 {
    display: flex;
    justify-content: flex-start;
    margin-left: 350px;
    margin-top: 150px;
  }

  .three4 {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 200px;
  }

  .three5 {
    display: flex;
    justify-content: flex-start;
    margin-left: 350px;
    margin-top: 150px;
  }

  .digifab1 {
    /* change display:none to display:flex when adding in work */
    display: none;
    justify-content: flex-start;
    margin-left: 350px;
    margin-top: 200px;
    text-align: left;
  }


  .uxdesign1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 350px;
    margin-top: 200px;
    text-align: left;
  }

  .uxdesign2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 200px;
  }

  .interactive1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 350px;
    margin-top: 200px;
    text-align: left;
  }

  .interactive2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 200px;
  }

  .research1 {
    /* change display:none to display:flex when adding in work */
    display: none;
    justify-content: flex-start;
    margin-left: 350px;
    margin-top: 200px;
    text-align: left;
  }

  .other1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 350px;
    margin-top: 200px;
    text-align: left;
  }

  .other2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 200px;
  }

  .images {
    width: 30vw;
    height: auto;
  }

  .videoWrapper {
    display: flex;
    justify-content: center;
    width: 1120px;
    height: 630px;
    margin-top: -244px;
  }

  .title1 {
    display: flex;
    justify-content: center;
    margin-left: 80px;
    margin-top: 100px;
    font-family: 'Roboto';
    font-size: 50px;
    color: black;
  }

  .container_about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 85px;
    padding: 50px;
  }

  .container_about>div {
    flex: 50%;
  }

  img.me {
    width: 400px;
    height: 400px;
  }

  .intro {
    padding-top: 75px;
    text-align: left;
    font-family: 'Roboto';
    font-size: 30px;
    color: black;
  }

  .container_footer {
    position: fixed;
    left: 5px;
    bottom: 0px;
  }

  .images_footer {
    width: 50px;
    padding: 20px;
  }

  .container_resume {
    display: flex;
    justify-content: center;
    margin-top: 300px;
  }

  .images_resume {
    width: 1000px;
  }

  .gifs {
    margin-left: 450px;
    margin-top: 215px;
    width: 40vw;
    height: auto;
  }

  .container_image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -100px;
    margin-right: 450px;
  }






}